 
a:link {
    color:blue;
  }
  
  
  a:visited {
    color: blue;
  }
  
  
  a:hover {
    color :red;
  }
  
  
  a:active {
    color: red;
  }
  a {
      text-decoration: none;
  }
  li { list-style-image: url(/assets/images/robot_1f916.png); }
  
   table.students { border-top: 2px solid black;
    width:fit-content;

   }
   h3.headingsp {
    text-align: center;
   }
   img.martinspic {
    float: right;
   }
   img.uoitpic {
     padding: 0px;
   }
   footer.footof {
    width:70%;
    margin-left:auto;
    margin-right:auto;
   }
   div.wrapper {
     margin-left:auto;
     margin-right:auto;
     width:960px;
   }
   th.title {
    
    color :blue; 
    font-family: Times New Roman, Times, serif;
   }
   div.page {
    width:60%;
    margin-left:auto;
    margin-right:auto;
    color :black; 
    font-family: Times New Roman, Times, serif;
    min-width:793px;
   }
   
   table.header {
    width:70%;
    margin-left:auto;
    margin-right:auto;
   }
   th.picture {
    border: 0px solid black;
    height: 79px; 
    width:120px; 
    padding :0px;

   }
    tr.odd {background-color: #efefef;
      }
    tr.even {background-color:antiquewhite}
    tr.great {
      background-color:azure;
    }
    tr.undergrad {
      background-color:aliceblue;
    }
   table.navb {
    width:70%;
    margin-left:auto;
    margin-right:auto;
    
    text-decoration:none;
   }
    h3.services {
      color: green;
    }
    li.services {
      list-style-image: url(/assets/images/sphere.jpg);

    }
    /*mobile phone styles*/
    @media all and (max-width:767px) {
      .header {
        min-width: 375px;
        max-height: 50px;
        font-size : 13px;
        font-style: bold;
        margin:2px;
        
      }
      .title {
        border-bottom : 3px solid black;
    border-top : 3px solid black;
      }
      .picture {
        height: 45px;
        width:79px;
        
      }
      .navb {
        min-width: 500px;
        max-height: 50px;
        font-size : 10px;
        border-bottom : 2px solid black;
    border-top : 2px solid black;
      }

      
      }
      

    