body {
    margin: 0;
}

.main-navigation {display: block;}

.main-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .main-navigation li {
    float: left; 
    /* Use float: left or right */
  }
  
  .main-navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .main-navigation li a:hover {
    background-color: #111;
  }

  .main-navigation .active {
    background-color: #4CAF50;
  }

  @media screen and (max-width: 600px) {
  .main-navigation li {float: none;}
}
.students_table{
  width: 100px;
}
.main-footer {
    background-color: #333;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;  
}

.main-footer p {
    text-align: center;
    color: white;
}


/* =================================================================================================== */

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;    
    padding-top: 50px;
}

.container .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.container .col-12, .container .col-lg-4 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}

.col-4{flex:0 0 33.33333333%;max-width:33.33333333%}

.col-6{flex:0 0 50%;max-width:50%}

.col-8{flex:0 0 66.66666667%;max-width:66.66666667%}

.col-12{flex:0 0 100%;max-width:100%}

@media (min-width: 768px) {
    .col-md-4{flex:0 0 33.33333333%;max-width:33.33333333%}

    .col-md-6{flex:0 0 50%;max-width:50%}

    .col-md-8{flex:0 0 66.66666667%;max-width:66.66666667%}

    .col-md-12{flex:0 0 100%;max-width:100%}
}

@media (min-width: 992px) {
    .col-lg-4{flex:0 0 33.33333333%;max-width:33.33333333%}

    .col-lg-6{flex:0 0 50%;max-width:50%}

    .col-lg-8{flex:0 0 66.66666667%;max-width:66.66666667%}

    .col-lg-12{flex:0 0 100%;max-width:100%}
}
